.panda-bg-info{
  background-color: #FEEAE9;
}
.mar-100{
  margin-bottom: 100px !important;
}
.panda-btn-buy-now{
  background-image: linear-gradient( to bottom, #FF589B 0%, #ff4b92 100%);
  color: white;
  border-radius: 5px;
  padding: 9px 25px;
  border:none;
}